.cv-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  
  .cv-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .cv-header h1 {
    font-size: 24px;
  }
  
  .cv-header p {
    font-size: 18px;
  }
  
  .cv-contact {
    grid-column: span 3;
    margin-bottom: 20px;
    background-color: rgb(0, 158, 137);
    text-align: center;
    color: rgb(137, 219, 236);
    transition: 0.6s;
    font-weight: 700;
    font-family: CaviarDreams;
    display:flex;
    flex-direction: column;
    padding-left: 40%;
    padding-top: 2vh;
    padding-bottom: 2vh;
  }

  .cv-contact:hover{
    color: rgba(214, 187, 236, 0.519);
    background-color: rgba(156, 80, 214, 0.519);
  }
  
  .cv-section {
    margin-bottom: 30px;
    background-color: rgba(0, 144, 158);
    transition: 0.6s;
    border-radius: 5vh;
    font-family: CaviarDreams;
    color: rgb(182, 201, 226);
    padding: 5%;
  }

  .cv-section:hover{
    border-radius: 0;
    background-color: rgba(156, 80, 214, 0.519);
  }

  .cv-section:hover .title-section{
    color:rgb(164, 197, 218);
  }

  .cv-section:hover .job-title{
    background-color: darkmagenta;
  }
  
  .cv-section h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .cv-item {
    margin-bottom: 10px;
    text-align:justify;
    padding-left: 20px;
  }
  
  ul {
    list-style: disc;
    padding-left: 30px;
  }

  .title-section{
    text-align: center;
    font-family: NaughtyMonster;
    color:rgb(158, 218, 234);
    letter-spacing: 2vh;
  }


  li{
    padding-bottom: 10px;
    list-style: none;
  }

  .job-title{
    background-color: rgb(0, 104, 132);;
    border-radius: 1vh;
  }

  .name{
    background-color: rgb(0, 104, 132);;
    padding: 20px;
    align-items: center;
    text-align: center;
    font-family: NaughtyMonster;
    letter-spacing: 5px;
    font-size: 250%;
    color: rgb(137, 219, 236);
  }

  .subt{
    font-family: CaviarDreams;
    animation: move 1s infinite alternate;
  }

  .date-title{
    color: rgb(137, 219, 236);
  }

  .icon{
    display: flex;
    align-items: center;
  }

  .invisible{
    color: transparent;
  }

  @keyframes move {
    0% {
        transform: translateY(0); /* Posición inicial */
    }
    100% {
        transform: translateY(-20px); /* Posición final */
    }
}
  
  /* Media Query para pantallas pequeñas */
  @media (max-width: 600px) {
    .cv-container {
      grid-template-columns: 1fr;
    }
    .cv-header h1 {
      font-size: 20px;
    }
    .cv-header p {
      font-size: 16px;
    }
    .cv-section h2 {
      font-size: 18px;
    }
  }
  