/*div for the whole resume*/
.cv-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  
  /*header with the home button*/
  .cv-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .cv-header h1 {
    font-size: 24px;
  }
  
  .cv-header p {
    font-size: 18px;
  }
  
  /*div for the contact info section, since it is different from the other sections for it to be centered*/
  .cv-contact {
    grid-column: span 3;
    margin-bottom: 20px;
    background-color: rgb(0, 158, 137);
    text-align: center;
    color: rgb(137, 219, 236);
    transition: 0.6s;
    font-weight: 700;
    font-family: CaviarDreams;
    display:flex;
    flex-direction: column;
    padding-left: 40%;
    padding-top: 2vh;
    padding-bottom: 2vh;
  }

  /*changes colors when hovered*/
  .cv-contact:hover{
    color: rgba(214, 187, 236, 0.519);
    background-color: rgba(156, 80, 214, 0.519);
  }
  
  /*general div for each section of the resume*/
  .cv-section {
    margin-bottom: 30px;
    background-color: rgba(0, 144, 158);
    transition: 0.6s;
    border-radius: 5vh;
    font-family: CaviarDreams;
    color: rgb(182, 201, 226);
    padding: 5%;
  }

  /*when the section is hovered, the colors of the 3 elements listed below change*/
  .cv-section:hover{
    border-radius: 0;
    background-color: rgba(156, 80, 214, 0.519);
  }

  .cv-section:hover .title-section{
    color:rgb(164, 197, 218);
  }

  .cv-section:hover .job-title{
    background-color: darkmagenta;
  }
  
  .cv-section h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  /*each particular line of the info inside the sections*/
  .cv-item {
    margin-bottom: 10px;
    text-align:justify;
    padding-left: 20px;
  }
  
  ul {
    list-style: disc;
    padding-left: 30px;
  }

  /*title for each section of the resume*/
  .title-section{
    text-align: center;
    font-family: NaughtyMonster;
    color:rgb(158, 218, 234);
    letter-spacing: 2vh;
  }

/*I removed the element before each li element to use the material ui icons*/
  li{
    padding-bottom: 10px;
    list-style: none;
  }

  /*title for each job and school*/
  .job-title{
    background-color: rgb(0, 104, 132);;
    border-radius: 1vh;
  }

  /*Header with my name at the top*/
  .name{
    background-color: rgb(0, 104, 132);;
    padding: 20px;
    align-items: center;
    text-align: center;
    font-family: NaughtyMonster;
    letter-spacing: 5px;
    font-size: 250%;
    color: rgb(137, 219, 236);
  }

  /*subtitle that moves*/
  .subt{
    font-family: CaviarDreams;
    animation: move 1s infinite alternate;
  }

  /*dates below the school and job*/
  .date-title{
    color: rgb(137, 219, 236);
  }

  /*material ui icons style*/
  .icon{
    display: flex;
    align-items: center;
  }

  /*used for blank spaces to separate divs*/
  .invisible{
    color: transparent;
  }

  /* animation*/
  @keyframes move {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px);
    }
}
  
  /* for smaller screens */
  @media (max-width: 600px) {
    .cv-container {
      grid-template-columns: 1fr;
    }
    .cv-header h1 {
      font-size: 20px;
    }
    .cv-header p {
      font-size: 16px;
    }
    .cv-section h2 {
      font-size: 18px;
    }
  }
  