.sectionr {
    background-color: #c97aa5;
    padding: 20px;
    display: flex;
    align-items: center;
    font-family: NaughtyMonster;
    letter-spacing: 5px;
    }
    
.tittler{
    display: inline-block;
    position: relative;
    font-size: 4rem;
    top: -25px;
    left: 35%;  
    color: white;
    
    }

.skills-languages{
    display: inline-block;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.skills{
    background-color: rgb(121, 178, 240);
    padding: 50px;
    width: 50%;
    margin: 50px;
    position: relative;
    left: 20%;
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: NaughtyMonster;
    letter-spacing: 2px;
}

.contactr{
    position: relative;
    font-size: 2rem;
    top: 40px;
    color: white;
}
  
.content{
    margin: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    left: 20%;
    background-color: rgb(121, 178, 240);
    width: 50%;
    padding: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 30px;
    font-family: NaughtyMonster;
    letter-spacing: 2px;
}

.tittles{
    background-color: #c97aa5;
    border-radius: 8px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
}

footer{
    position: absolute;
    bottom: -20;
    background: #c97aa5;
    height: auto;
    width: 100%;
    padding-top: 40px;
    color: white;
    font-family: NaughtyMonster;
    letter-spacing: 2px;
}

.cont{
    position: relative;
    display: inline-block;
    padding-right: 80px;
    padding-left: 10px;
    left: 35%;
    bottom: 20px;;
}

.conti{
    width: 20px;
    position: relative;
    display: inline-block;
    left: 35%;
    bottom: 15px;;

}

.goButtonH{
    position: relative;
    left: 20%;
    top:60px;
    display: inline-block;
    font-family: NaughtyMonster;
    letter-spacing: 2px;
    border-radius: 8px;
    transition: 0.6s;
    background:#a3caf4 ;
    color: black;
  }
  
  .goButtonH:hover {
    background-color: rgb(121, 178, 240);
  }