.section {
  background-color: rgba(32, 104, 186, 0.729);
  padding: 20px;
  display: flex;
  align-items: center;
  }

.projects{
  margin: 20px;
  padding: 20px;
  align-items: center;
}
  
.tittle{
  display: inline-block;
  position: relative;
  font-size: 4rem;
  top: -20px;
  left: 10%;  
  font-family: NaughtyMonster;
  letter-spacing: 5px;

  }

.Pimage{
  width: 20%;
  border-radius: 50%;
}

.flip-container {
	perspective: 1000px;
}
	/* when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 350px;
	height: 300px;
  border-radius: 20px;
}

/* flip speed */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

/* face visibility */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.front {
	z-index: 2;
	transform: rotateY(0deg);
}


.back {
	transform: rotateY(180deg);
}

.proy1{
  width: 100%;
  align-items: center;
}

  