.section {
  background-color: #c97aa5;
  padding: 20px;
  display: flex;
  align-items: center;
  }

  /* project page tittle*/
.projects{
  margin: 20px;
  padding: 20px;
  align-items: center;
}

/*jess name*/
.tittle{
  display: inline-block;
  position: relative;
  font-size: 4rem;
  top: -20px;
  left: 5%;  
  font-family: NaughtyMonster;
  letter-spacing: 5px;
  color: white;

  }

.flip-container {
	perspective: 1000px;
}
	/* when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 350px;
	height: 300px;
  border-radius: 20px;
}

/* flip speed */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

/* face visibility */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.front {
	z-index: 2;
	transform: rotateY(0deg);
}


.back {
	transform: rotateY(180deg);
}

/*project image*/
.proyi{
  width: 90%;
  padding: 5%;
}

/* projects page tittle*/
.proj{
  position: relative;
  font-size: 2rem;
  top: 60px;
  left: -15%;
  color: white;
  font-family: NaughtyMonster;
  letter-spacing: 2px;
}

/* project content section*/
.projects{
  margin: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  left: 5%;
  background-color: rgb(121, 178, 240);
  width: 80%;
  padding: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 30px;
  font-family: NaughtyMonster;
  letter-spacing: 2px;
  display: flex;
}

/*project tittles*/
.proj-tittle{
  font-size: 25px;
  position: relative;
  top: -120px;
  margin-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
  width:500px;
}

/* image div container for border*/
.img-cont{
  background-color: #c97aa5;
  width: 450px;
  height: 280px;
  border-radius: 8px;
}
/* flip containers*/
.containers{
  position: relative;
  left: -36%;
  top: 10%;
  width: 0px;
}
 /* home button*/
.goButtonH2{
  position: relative;
  left: 40%;
  top:60px;
  display: inline-block;
  font-family: NaughtyMonster;
  letter-spacing: 2px;
  border-radius: 8px;
  transition: 0.6s;
  background:#a3caf4 ;
  color: black;
}

/* button hover */
.goButtonH2:hover {
  background-color: rgb(121, 178, 240);
}

/* project descriptions*/
.descript-projects{
  font-size: 18px;
  position: relative;
  text-align: justify;
  top: -20px;
  left: -39%;
  width: 800px;
}

  