h1 {
    font-size: 2em;
    font-family: NaughtyMonster; 
    letter-spacing: 2px;
  }
  
.sectionp {
    margin: 20px;
    padding: 20px;
    border-radius: 10%;
    border: 1px solid #4a6192;
    display: inline-block;
    text-align: left;
    width: 300px;
  }
  
  .tittlep{
    position: relative;
    top: -40px;
    display: inline-block;
    left: 30px;
    font-family: NaughtyMonster;
    letter-spacing: 2px;
  }
  
  .goButton{
    position: relative;
    left: 10%;
    display: inline-block;
    font-family: NaughtyMonster;
    letter-spacing: 2px;
    border-radius: 8px;
  }
  
  .descriptionp{
    font-size: large;
    margin: 20px;
    height: 210px;
    font-family: NaughtyMonster;
    letter-spacing: 1px;
  }
  
  button {
    background-color: #5e9bcd;
    color: white;
    border: none;
    position: relative;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #2d83de;
  }
  
  .Pimagep{
    width: 30%;
    border-radius: 50%;
  }
  